.correct-answer:defined {
  border: 3px solid var(--green-trybe);
}

.correct-answer:disabled {
  background-color: var(--green-dark);
}

.wrong-answer:defined {
  border: 3px solid var(--red-trybe);
}

.wrong-answer:disabled {
  background-color: var(--pink-dark);
}
