.answers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  background-color: var(--purple);
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-weight: 800;
  padding: 15px;
}
